.header
  img.titleHeader(src='/images/heading.png', alt='Miles Matthias')
  #navMenuWrap
    ul.navMenu
      li.navItem
        a.navLink(href='#skillsEducation')
          | skills
          span.amp &
          |  education
      li.navItem
        a.navLink(href='#storyTelling') story telling
      li.navItem
        a.navLink(href='#experienceValues')
          | experience
          span.amp &
          |  values
img.hireMilesButton(src='/images/btn-hire-miles.png', alt='Hire Miles')


a.section.skillsEducation(name='skillsEducation')
  h2.sectionTitle
    | SKILLS
    span.amp &
    |  EDUCATION
  a#fbplay
  p
    | I have experience in C, C++, Java, HTML5, jQuery, CSS, networking, and security.
    | I'm also steadily learning iOS and mobile frameworks like Sencha Touch and jQuery
    | Mobile. One of my first products was a mobile app for Android using jQTouch. I
    | also have several projects that are still "in progress", including a Hacker News
    | reader with Sencha Touch, and an iOS app for caregivers looking to learn more
    | activities they can adapt to their clients. I actively participate on 
    a(href="http://github.com/milesmatthias") github
    |  as well. You can see the full source code for a few of my side
    | projects in progress there.
  p
    | I also actively participate in energizing weekend teams at 
    a(href="http://startupweekend.org/") Startup Weekends
    | . My first startup weekend project was 
    a(href="http://fundle.co") Fundle 
    |  at Startup Weekend Des Moines. We
    | built a group payment system prototype in one weekend. I contributed to the group
    | management and front-end development of the project. My second Startup Weekend
    | project was Slouch Couch Video Game Studio at Startup Weekend Omaha. We made an
    | HTML5 game about Startup Weekend that can still be played on our website at
    a(href='http://slouchcou.ch') SlouchCou.ch
    | .
  p
    | I've also developed custom plugins for the open source project 
    a(href="http://www.wireshark.org/") Wireshark 
    |  at 
    a(href="http://www.sandia.gov/ccd/") Sandia National Labs
    | . I had to learn how a large established project works, and
    | then figure out to write plugins that the operations security team at Sandia
    | needed. The other person working with me on this project was early on in his
    | programming education, so I did a lot of the coding for the project. We had a
    | leader who had a full plate of work on his own, so he only had time to check in
    | with us once a week or so. We were given all the resources we needed, and enjoyed
    | the freedom of choosing some of the direction of the project. My choice was to
    | write a plugin making tutorial for the Sandia operations security team members so
    | that should they need to customize their plugins or write new ones, they would
    | have the tools and education to do so.
  
  h4 University of Nebraska at Omaha
  h5 2007-2011
  p
    | Graduated Magna Cum Laude with two separate degrees (~170 credits) in 
    a(href="http://nucia.ist.unomaha.edu/?p=nuciaIAdegree") Information Assurance
    |  and 
    a(href="http://www.cs.unomaha.edu/") Computer Science
    | , with a minor in 
    a(href="http://www.unomaha.edu/wwwmath/") Mathematics
    | . My favorite classes
    | were Operating Systems, Foundations of Information Assurance, Sociology of
    | Deviant Behavior, English Composition, and anything done online. 3.7 GPA
   
  h4 Papillion-La Vista High School
  h5 2005-2007
  p
    | Graduated with honors and ~30 college credit hours. Led Senior Class as President
    | and National Honor Society as Vice President. My favorite classes were AP European
    | History, English Literature, and French. 3.7 GPA
  h4 Woodbridge Senior High School
  h5 2003-2004
  p 
    | This is the area's Center for Fine and Performing Arts, where I enjoyed
    | participating in the writing program. I became enamored with art, history, and
    | english here. Our school constantly had art shows, dance performances, theatre
    | plays, and concerts going on and I loved it. My favorite classes were history,
    | english, and creative writing.
    
    
    
a.section.storyTelling(name='storyTelling')
  h2.sectionTitle STORY TELLING
  a#books
  p
    | I grew up as an Army brat. My dad served for 20 years, and in those 20 years, we
    | moved 8 times. Moving was always tough, but I like to think I'm much better off
    | for it. I got the opportunity to make friends all over the country, experience
    | all sorts of different cultures and ways of living, and best of all, get the
    | confidence and tough skin it takes to make it in a new place. It was hard leaving
    | one of our homes, but I luckily am the oldest of three boys, so we always had
    | each other to hang out with.
  p
    | Constantly having to adjust to new teams and communities also made me into
    | somewhat of a negotiator. I enjoy hearing discussions from people with different
    | opinions, finding common ground, and then moving forward. I continue to use those
    | skills today.
  p
    | The place we lived the longest (although not consecutively) was Washington D.C.
    | Our extended family always used our house as a hotel to see the sights, which was
    | great, and I always got brought along. I've seen the White House and all of the
    | memorials so many times that I know them better than anyone should. I'm not
    | complaining - this much exposure ave me a true appreciation for history and the
    | perspective it gives. I loved reading about all of the historical figures, seeing
    | their memorials, and in some cases, standing in the very same spots they stood.
    | History for me is still a source of enjoyment, as it brings me comfort to hear
    | other people's journeys. It also influences my belief that nothing should ever
    | have to be solved twice. Having the knowledge of history gives me motivation to
    | never repeat the mistakes of the past.
  p
    | Living in a big city also exposed me to a lot of different cultural experiences.
    | I went to a high school that specializes in fine and performing arts, where
    | plays, concerts, historical events, literature, and artwork were a constant. I
    | was in the creative writing program, and writing continues to be one of my
    | biggest passions to date. The freedom of expression through art was very
    | influential and I still love visiting museums and seeing shows.
  p
    | After 20 years of active duty army service, my dad retired and we moved to Omaha,
    | NE. I'd never been to nebraska and wasn't particularly thrilled with moving away
    | from my cultural center. I kept an open mind though, and I'm glad I did. Omaha
    | has a vibrant community of genuine people, along with the space and landscape to
    | allow for relaxation. Gone were the days of walking about the National Mall, but
    | in were the days free of traffic.
  p
    | I finished high school and went to college in Omaha. School had always been easy
    | for me - I graduated with two degrees and a minor in four years - taking summer
    | school every summer, even when I wasn't living in Omaha - but the hard part was
    | figuring out what I wanted to do with my life. I knew I wanted to do something
    | with computers and technology, but wasn't sure, so I got one degree in
    | Information Assurance, to focus on the security side of computing, and the other
    | degree in Computer Science, to focus on the development side of computing.
  p
    | To figure out if I wanted to do something more security oriented or something
    | more development oriented, I worked a series of security jobs to see if I liked
    | it. They were interesting and fun, but currently the security industry works by
    | telling people how not to do things instead of teaching the right way to develop.
    | I want to bring all positive value to the world, so I chose to lean more on my
    | development degree. I knew this when I went to Sandia National Labs the summer
    | before my senior year, so I really took an interest in one of my three projects,
    | which was to develop custom software. It was a great experience that taught me a
    | lot about developing an existing open source project. Seeing my contributions
    | helping to give people a new capability was exciting and rewarding. I knew then I
    | wanted to work on developing software.
  p
    | The next thing I had to figure out was what size and type of company it is that I
    | want to work for. Luckily in college, I also felt it was important for me to have
    | job experience where I could work on my teamwork and interpersonal skills. So I
    | became a resident assistant at Scott Campus on UNO. I loved the small team
    | atmosphere so much that I chose to apply for the resident director job to lead
    | the group my senior year. I got hired for the job and really took to it. I was
    | tasked with leading and developing 14 resident assistants. Our team was in charge
    | of planning and running community events, enforcing company policies, and
    | responding to any and all situations around the clock. Through all of the chaos,
    | I learned a lot about what it means to be on a team and how to lead. Those 14
    | people became my family (I still talk with them regularly and consider them my
    | family) and we provided each other with the support and encouragement to perform
    | far better as a group than any one of us could have done on our own. Many of my
    | proudest moments are from that year. I definitely want to work on a small,
    | creative, and free-thinking team that skips corporate red-tape to focus on adding
    | value to customers.
  p
    | Unfortunately, I didn't really discover this until after much reflection on my
    | senior year and my experience at my post-graduation job at Lockheed Martin. The
    | people are all very nice, but large corporate and government work just isn't my
    | cup of tea.
  p
    | My ultimate goal is to one day have a similar experience in building software as
    | my time as a resident director. I love helping a family of people grow and work
    | together to be something bigger and better than any one of tis pieces. It brings
    | a smile to my face to help someone develop as a person, work better with a team,
    | and deliver an awesome product that adds value to an overjoyed customer.
    
    
a.section.experienceValues(name='experienceValues')
  h2.sectionTitle
    | EXPERIENCE
    span.amp &
    |  VALUES
  a#tools
  p
    | Technology is cool, but at the end of the day, every product I contribute to is
    | for a person. People, and adding value to their lives, is what motivates me. I
    | love working on a close-knit, small, creative team where the collaboration level
    | is through the roof. I also love helping my teammates grow. One of my favorite
    | work experiences was as Resident Director at Scott Campus when I was able to help
    | one of my teammates take the time to teach his colleagues, even though he didn't
    | want to at first.

 h3 I've read and recommend:
    br
    br
    
  a(href='http://www.amazon.com/gp/product/1609611799/ref=as_li_qf_sp_asin_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=1609611799') The Long Run
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=1609611799&camp=217145&creative=399373', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine  by Matt Long
  br


  a(href='http://www.amazon.com/gp/product/0743226720/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=0743226720') 1776
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0743226720&camp=217145&creative=399373', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by David McCullough
  br


  a(href='http://www.amazon.com/gp/product/0307463745/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0307463745') Rework
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0307463745&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine  by Jason Fried and David Heinemeier Hansson
  br


  a(href='http://www.amazon.com/gp/product/0465067107/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0465067107') The Design of Everyday Things
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0465067107&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Donald A. Norman
  br


  a(href='http://www.amazon.com/gp/product/143023024X/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=143023024X') Beginning iPhone 4 Development: Exploring the iOS SDK
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=143023024X&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Dave Mark, Jack Nutting, and Jeff LaMarche
  br


  a(href='http://www.amazon.com/gp/product/0061718955/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0061718955') Medium Raw: A Bloody Valentine to the World of Food and the People Who Cook
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0061718955&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Anthony Bourdain
  br


  a(href='http://www.amazon.com/gp/product/0060899220/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0060899220') Kitchen Confidential: Adventures in the Culinary Underbelly 
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0060899220&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine  by Anthony Bourdain
  br

  a(href='http://www.amazon.com/gp/product/0446691860/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0446691860')
    | America (The Book) Teacher's Edition: A
    | Citizen's Guide to Democracy Inaction
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0446691860&camp=217145&creative=399369', width='1', height='1', border='0', alt='',style='border: none !important; margin: 0px !important;')
  br
  span.byLine by The Daily Show with Jon Stewart
  br

  a(href='http://www.amazon.com/gp/product/044657922X/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=044657922X')
    | Earth (The Book): A Visitor's Guide to
    | the Human Race
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=044657922X&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by The Daily Show with Jon Stewart
  br

  a(href='http://www.amazon.com/gp/product/B0029LHWSQ/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=B0029LHWSQ') I Am America (And So Can You!)
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=B0029LHWSQ&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Stephen Colbert
  br

  a(href='http://www.amazon.com/gp/product/0060256737/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0060256737') A Light in the Attic
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0060256737&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Shel Silverstein
  br

  a(href='http://www.amazon.com/gp/product/0786868414/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0786868414') Leadership
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0786868414&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Rudolph W. Giuliani
  br

  a(href='http://www.amazon.com/gp/product/0688171621/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0688171621') Naked Pictures of Famous People
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0688171621&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Jon Stewart
  br

  a(href='http://www.amazon.com/gp/product/0671028448/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0671028448') The Rose That Grew From Concrete
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0671028448&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Tupac Shakur
  br

  a(href='http://www.amazon.com/gp/product/1584798572/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=1584798572') Good Eats 2: The Middle Years
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=1584798572&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Alton Brown
  br

  a(href='http://www.amazon.com/gp/product/0375413405/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0375413405') Mastering the Art of French Cooking, Vol. 1
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0375413405&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Julia Child
  br
    
  h3 I'm currently reading:
    br
    br
    
    
  a(href='http://www.amazon.com/gp/product/020161622X/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=020161622X') The Pragmatic Programmer
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0061718955&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Andrew Hunt
  br 


  a(href='http://www.amazon.com/gp/product/1119998956/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=1119998956') Design for Hackers: Reverse Engineering Beauty
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=1119998956&camp=217145&creative=399373', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by David Kadavy
  br


  a(href='http://www.amazon.com/gp/product/0307465357/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0307465357') The Four Hour Workweek
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0307465357&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Timothy Ferriss
  br


  a(href='http://www.amazon.com/gp/product/1439167346/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=1439167346') How to Win Friends & Influence People
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=1439167346&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Dale Carnegie
  br


  a(href='http://www.amazon.com/gp/product/0840034164/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=0840034164') A Concise Introduction to Logic
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0840034164&camp=217145&creative=399373', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Patrick J. Hurley
  br

  a(href='http://www.amazon.com/gp/product/1593156391/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=1593156391') The Steve Jobs Way: iLeadership for a New Generation
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=1593156391&camp=217145&creative=399373', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Jay Elliot with William L. Simon
  br

  a(href='http://www.amazon.com/gp/product/0061857807/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0061857807') My Booky Wook: A Memoir of Sex, Drugs, and Stand-Up
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0061857807&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Russell Brand
  br

  a(href='http://www.amazon.com/gp/product/0470876417/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0470876417')
    | Business Model Generation: A Handbook for Visionaries, Game Changers, and
    | Challengers
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0470876417&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Alexander Osterwalder and Yves Pigneur
  br

  a(href='http://www.amazon.com/gp/product/1591840562/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=1591840562')
    | The Art of the Start: The Time-Tested, Battle-Hardened Guide for Anyone Starting
    | Anything
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=1591840562&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Guy Kawasaki
  br

  a(href='http://www.amazon.com/gp/product/0976470705/ref=as_li_ss_tl?ie=UTF8&tag=milesmatthias-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0976470705') The Four Steps to the Epiphany
  img(src='http://www.assoc-amazon.com/e/ir?t=milesmatthias-20&l=as2&o=1&a=0976470705&camp=217145&creative=399369', width='1', height='1', border='0', alt='', style='border: none !important; margin: 0px !important;')
  br
  span.byLine by Steven Gary Blank
  br
  
  br
  h3 I've worked at:
  br
    
  h4 Lockheed Martin
  div.jobTitle Software Engineer Associate
  h5 May 2011 - Present
  h5 Omaha, NE
  p
    | Developing web application in Java for the Department of Defense to assist with
    | planning, presenting, and deciding on strategic missions. Working with a large
    | team, mainly contributing to front-end development using jQuery and CSS.
  h4 Scott Residential Management
  div.jobTitle Resident Director
  h5 Aug 2010 - May 2011
  h5 Omaha, NE
  p
    | Managed a group of Resident Assistant and working with senior management to
    | create a positive environment for college students. Included various
    | responsibilities including organizing the team to complete projects, planning and
    | implementing events, helping decide property policy, and staff selection for
    | current and future years. At the University of Nebraska at Omaha - see
    | www.scottcampus.com for more information on the property.
  
  h4 Sandia National Laboratories
  div.jobTitle Center for Cyber Defense Intern
  h5 May 2010 - Aug 2010
  h5 Albuquerque, NM
  p
    | Center for Cyber Defenders Internship, where I worked on cyber defense projects
    | including red teaming exercises on surveillance systems and renewable energy
    | systems. Also did custom software development for Sandia’s operational security
    | department.
  
  h4 Scott Residential Management
  div.jobTitle Resident Assistant
  h5 Aug 2009 - May 2010
  h5 Omaha, NE
  p
    | Worked with a team of other students and managers to create a positive
    | environment for college residents. Included various roles in researching,
    | planning, organization, and execution.
  h4 NUCIA, University of Nebraska at Omaha
  div.jobTitle Undergraduate Researcher
  h5 Feb 2009 - May 2010
  h5 Omaha, NE
  p
    | Developed and presented several projects on client side vulnerabilities.
    | Presentations included Omaha InfoTec and the US Department of Defense
    | International Cyber Defense Workshop.
  
  h4 Solutionary, Inc.
  div.jobTitle Security Operations Center Analyst
  h5 Feb 2008 - Feb 2009
  h5 Omaha, NE
  p
    | Analyzed and alerted on network activity. Conducted vulnerability assessments for
    | compliances such as Payment Card Industry (PCI). Responsible for assisting
    | clients, developing new rules and methods, and various device management duties.


img.hireMilesButtonBottom(src='/images/btn-hire-miles-btm.png', alt='Hire Miles')
