p Welcome to hiremiles.com.
p This is currently being worked on, so check back soon!
p If you're so inclined, you can watch and comment on the progress on 
    a(href="https://github.com/milesmatthias/hiremiles.com",alt="hiremiles on github") github
    .