.bg
    p Miles is currently happily working at 
        a(href="http://www.inspiringapps.com") InspiringApps
        |  in Boulder, Colorado.
    p :)

.footer
    a.footer(href="http://www.flickr.com/photos/dalegillard/2114167543/") 
        | Diggers Beach by Dale Gillard, on Flickr