.bg
    p Miles is currently happily working at 
        a(href="http://www.inspiringapps.com") InspiringApps
        |  in Boulder, Colorado.

.footer
    a.footer(href="http://www.flickr.com/photos/shitao/3045180286/") 
        | Boulder Colorado 1908 Hand colored postcard by Shitao, on Flickr
