!!! 5
html
  head
    title Hire Miles
    link(rel='stylesheet', href='/components/golden-grid-system/GGS.css')
    link(rel='stylesheet', href='/public/stylesheets/main.css')
    link(href='http://fonts.googleapis.com/css?family=Montez', rel='stylesheet') type='text/css'>
  body!= body
