!!! 5
html
  head
    title Hire Miles
    link(rel='stylesheet', href='/components/golden-grid-system/GGS.css')
    link(rel='stylesheet', href='/public/stylesheets/main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montez')
    link(rel='icon', type='image/png', href="/public/images/favicon.png")
  body!= body
