<!DOCTYPE html>
<html>

<head>
	<title>Hire Miles</title>
	
	<!-- Standard CSS -->
	<link rel="stylesheet" href="iconic.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="main.css" />
	<!-- Standard JS 
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script> -->	
	<!-- Custom JS 
	<script src="main.js"></script> -->
</head>

<body>
	<div class="header">
		<h1>Miles Matthias</h1>
		<ul class="navMenu">
			<li class="navItem"><a href="#experienceValues" class="navLink">experience & values</a></li>
			<li class="navItem"><a href="#storyTelling" class="navLink">story telling</a></li>
			<li class="navItem"><a href="#skillsEducation" class="navLink">skills & education</a></li>
		</ul>
	</div>
	
	<h4 class="hireMiles">HIRE MILES</h4>
	
	<a name="experienceValues" class="section experienceValues">
		<h3 class="sectionTitle">EXPERIENCE & VALUES</h3>
		<a name="heart" class="iconic heart"></a>

		<p>Integer suscipit consequat risus. Sed turpis lacus, congue ut congue eget, sagittis in leo. Morbi justo odio, cursus sit amet dignissim pulvinar, dignissim et elit. Praesent tempus lorem vitae ligula vulputate sed vehicula eros malesuada. Suspendisse potenti. Vivamus consequat est vitae mauris fermentum ultricies. Nulla et magna at metus scelerisque fermentum.</p>

        <p>Maecenas ante dui, ornare id consequat in, mattis vitae lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce suscipit lorem non erat vehicula gravida. Pellentesque eleifend rutrum nulla eu dictum. Fusce pulvinar, risus eget convallis pulvinar, dui neque imperdiet metus, sit amet ultricies nisi nisl vitae lectus. Aenean id felis vitae orci mattis egestas vel et nisi. Etiam mattis justo sed ante convallis tincidunt. Nunc nunc ipsum, feugiat a elementum vel, ullamcorper ut orci. Donec tempor convallis orci, sit amet tempus metus rutrum vel. Fusce pretium faucibus accumsan. Donec at urna mi, nec faucibus lorem. Praesent vel metus sit amet justo pharetra tempor eget vel ipsum. Vestibulum dictum euismod quam a accumsan.</p>

        <p>Nam turpis purus, accumsan sit amet sodales vel, porttitor sit amet mi. In dignissim faucibus velit, id malesuada erat aliquam sit amet. Curabitur et aliquet risus. Ut sodales est nec neque consequat nec porta turpis semper. In egestas dolor sed tortor ornare rhoncus fringilla felis luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent eu volutpat sapien. Aenean id ipsum purus, eget molestie odio. Praesent elit velit, eleifend nec euismod eget, laoreet et odio. Nullam tincidunt turpis ipsum, sed sodales sapien. Duis placerat nisl id metus vulputate eget bibendum nibh adipiscing. Fusce non risus non magna faucibus ultricies sed in tortor. Sed pretium eros ac tellus rhoncus vitae vehicula lorem sagittis. Donec nisl risus, pretium non pellentesque quis, tempus non enim. Ut elit urna, ultrices eu ultricies eu, adipiscing ac nisi.</p>

        <p>Praesent ornare tincidunt libero, quis congue purus rhoncus id. Fusce a nisl tellus. Curabitur a mi id risus elementum rhoncus vel ac felis. Curabitur elementum, sapien vitae hendrerit pellentesque, quam lorem vestibulum elit, non scelerisque ligula dolor sit amet eros. Donec sagittis urna eget nunc ultricies venenatis. Praesent vitae erat sed nunc cursus bibendum commodo id tellus. Vivamus interdum ligula at tortor molestie vestibulum.</p>

        <p>Duis facilisis ultricies lectus non tristique. In vitae mauris velit, sed dignissim enim. Proin hendrerit lobortis urna, vestibulum tincidunt dui sagittis eu. Integer sed elementum risus. Sed in turpis vitae arcu ultricies malesuada in quis erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi nec arcu est. Curabitur scelerisque blandit arcu vel sollicitudin. Curabitur viverra vulputate aliquam. Donec ultricies vestibulum lacus eget aliquet. Aenean interdum erat eget felis aliquam vitae aliquam neque facilisis. Donec varius sem non mi lacinia mollis. Praesent quis lectus ut quam laoreet varius blandit ut nisl. Duis congue lobortis leo ac dignissim.</p>

    </a>
	
	<a name="storyTelling" class="section storyTelling">
		<h3 class="sectionTitle">STORY TELLING</h3>
		<a name="book" class="iconic book"></a>
		
		<p>Integer suscipit consequat risus. Sed turpis lacus, congue ut congue eget, sagittis in leo. Morbi justo odio, cursus sit amet dignissim pulvinar, dignissim et elit. Praesent tempus lorem vitae ligula vulputate sed vehicula eros malesuada. Suspendisse potenti. Vivamus consequat est vitae mauris fermentum ultricies. Nulla et magna at metus scelerisque fermentum.</p>

<p>Maecenas ante dui, ornare id consequat in, mattis vitae lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce suscipit lorem non erat vehicula gravida. Pellentesque eleifend rutrum nulla eu dictum. Fusce pulvinar, risus eget convallis pulvinar, dui neque imperdiet metus, sit amet ultricies nisi nisl vitae lectus. Aenean id felis vitae orci mattis egestas vel et nisi. Etiam mattis justo sed ante convallis tincidunt. Nunc nunc ipsum, feugiat a elementum vel, ullamcorper ut orci. Donec tempor convallis orci, sit amet tempus metus rutrum vel. Fusce pretium faucibus accumsan. Donec at urna mi, nec faucibus lorem. Praesent vel metus sit amet justo pharetra tempor eget vel ipsum. Vestibulum dictum euismod quam a accumsan.</p>

<p>Nam turpis purus, accumsan sit amet sodales vel, porttitor sit amet mi. In dignissim faucibus velit, id malesuada erat aliquam sit amet. Curabitur et aliquet risus. Ut sodales est nec neque consequat nec porta turpis semper. In egestas dolor sed tortor ornare rhoncus fringilla felis luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent eu volutpat sapien. Aenean id ipsum purus, eget molestie odio. Praesent elit velit, eleifend nec euismod eget, laoreet et odio. Nullam tincidunt turpis ipsum, sed sodales sapien. Duis placerat nisl id metus vulputate eget bibendum nibh adipiscing. Fusce non risus non magna faucibus ultricies sed in tortor. Sed pretium eros ac tellus rhoncus vitae vehicula lorem sagittis. Donec nisl risus, pretium non pellentesque quis, tempus non enim. Ut elit urna, ultrices eu ultricies eu, adipiscing ac nisi.</p>

<p>Praesent ornare tincidunt libero, quis congue purus rhoncus id. Fusce a nisl tellus. Curabitur a mi id risus elementum rhoncus vel ac felis. Curabitur elementum, sapien vitae hendrerit pellentesque, quam lorem vestibulum elit, non scelerisque ligula dolor sit amet eros. Donec sagittis urna eget nunc ultricies venenatis. Praesent vitae erat sed nunc cursus bibendum commodo id tellus. Vivamus interdum ligula at tortor molestie vestibulum.</p>

<p>Duis facilisis ultricies lectus non tristique. In vitae mauris velit, sed dignissim enim. Proin hendrerit lobortis urna, vestibulum tincidunt dui sagittis eu. Integer sed elementum risus. Sed in turpis vitae arcu ultricies malesuada in quis erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi nec arcu est. Curabitur scelerisque blandit arcu vel sollicitudin. Curabitur viverra vulputate aliquam. Donec ultricies vestibulum lacus eget aliquet. Aenean interdum erat eget felis aliquam vitae aliquam neque facilisis. Donec varius sem non mi lacinia mollis. Praesent quis lectus ut quam laoreet varius blandit ut nisl. Duis congue lobortis leo ac dignissim.</p>
		
	</a>
	
	<a name="skillsEducation" class="section skillsEducation">
		<h3 class="sectionTitle">SKILLS & EDUCATION</h3>
		<a name="key" class="iconic key"></a>

		<p>Integer suscipit consequat risus. Sed turpis lacus, congue ut congue eget, sagittis in leo. Morbi justo odio, cursus sit amet dignissim pulvinar, dignissim et elit. Praesent tempus lorem vitae ligula vulputate sed vehicula eros malesuada. Suspendisse potenti. Vivamus consequat est vitae mauris fermentum ultricies. Nulla et magna at metus scelerisque fermentum.</p>

<p>Maecenas ante dui, ornare id consequat in, mattis vitae lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce suscipit lorem non erat vehicula gravida. Pellentesque eleifend rutrum nulla eu dictum. Fusce pulvinar, risus eget convallis pulvinar, dui neque imperdiet metus, sit amet ultricies nisi nisl vitae lectus. Aenean id felis vitae orci mattis egestas vel et nisi. Etiam mattis justo sed ante convallis tincidunt. Nunc nunc ipsum, feugiat a elementum vel, ullamcorper ut orci. Donec tempor convallis orci, sit amet tempus metus rutrum vel. Fusce pretium faucibus accumsan. Donec at urna mi, nec faucibus lorem. Praesent vel metus sit amet justo pharetra tempor eget vel ipsum. Vestibulum dictum euismod quam a accumsan.</p>

<p>Nam turpis purus, accumsan sit amet sodales vel, porttitor sit amet mi. In dignissim faucibus velit, id malesuada erat aliquam sit amet. Curabitur et aliquet risus. Ut sodales est nec neque consequat nec porta turpis semper. In egestas dolor sed tortor ornare rhoncus fringilla felis luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent eu volutpat sapien. Aenean id ipsum purus, eget molestie odio. Praesent elit velit, eleifend nec euismod eget, laoreet et odio. Nullam tincidunt turpis ipsum, sed sodales sapien. Duis placerat nisl id metus vulputate eget bibendum nibh adipiscing. Fusce non risus non magna faucibus ultricies sed in tortor. Sed pretium eros ac tellus rhoncus vitae vehicula lorem sagittis. Donec nisl risus, pretium non pellentesque quis, tempus non enim. Ut elit urna, ultrices eu ultricies eu, adipiscing ac nisi.</p>

<p>Praesent ornare tincidunt libero, quis congue purus rhoncus id. Fusce a nisl tellus. Curabitur a mi id risus elementum rhoncus vel ac felis. Curabitur elementum, sapien vitae hendrerit pellentesque, quam lorem vestibulum elit, non scelerisque ligula dolor sit amet eros. Donec sagittis urna eget nunc ultricies venenatis. Praesent vitae erat sed nunc cursus bibendum commodo id tellus. Vivamus interdum ligula at tortor molestie vestibulum.</p>

<p>Duis facilisis ultricies lectus non tristique. In vitae mauris velit, sed dignissim enim. Proin hendrerit lobortis urna, vestibulum tincidunt dui sagittis eu. Integer sed elementum risus. Sed in turpis vitae arcu ultricies malesuada in quis erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi nec arcu est. Curabitur scelerisque blandit arcu vel sollicitudin. Curabitur viverra vulputate aliquam. Donec ultricies vestibulum lacus eget aliquet. Aenean interdum erat eget felis aliquam vitae aliquam neque facilisis. Donec varius sem non mi lacinia mollis. Praesent quis lectus ut quam laoreet varius blandit ut nisl. Duis congue lobortis leo ac dignissim.</p>

	</a>
	
	<h4 class="hireMiles">HIRE MILES</h4>
	
</body>

</html>