body{
	background-color: white;
	margin: auto;
	background-image: url('bg-tile.jpg');
	color:#DBDBAD;
}

a{
	text-decoration: none;
	color:inherit;
}

/**********************************
 * Navigation Bar
 **********************************/
ul.navMenu{
	list-style-type: none;
	background-image: url('ribbon.png');
	margin:auto;
	margin-top:15px;
	padding:0;
	width: 884px;
	height:80px;
}
li.navItem{
	display: inline;
	padding: 1em;
}
ul.navMenu a.navLink{
	text-decoration: none;
	color: red;
	font-family: 'Verdana', sans-serif;
	margin: auto;
}

/**********************************
 * Components
 **********************************/
h1{
	font-family: 'Maven Pro', sans-serif;
	font-size: 48px;
	color: #e9b947;	
} 

div.header{
	margin-bottom: 8em;
	text-align: center;
}

img.titleHeader{
	margin-top: 20px;
}

img.hireMilesButton{
	display:block;
	margin:auto;
}

img.hireMilesButtonBottom{
	display:block;
	margin:auto;
}

h4.hireMiles{
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
	color: #ead9ac;
	margin:auto;
	border-radius: 165px;
	background: #a3321e;
	width:180px;
	height:180px;
}

h4.hireMiles:hover{
	background: orange;
}

a.section{
	display: block;
	margin-top: 5em;
}

/**********************************
 * Section
 **********************************/
h3.sectionTitle{
	text-align: center;
	font-family: 'Maven Pro', sans-serif;
	font-size: 48px;
}
p{
	font-family: 'PTSansRegular', sans-serif;
	font-size: x-large;
	width:40em;
	margin:auto;
	margin-bottom: 15px;
}
a.iconic{
	font-size: 150px;
	text-align: center;
	margin: auto;
	display: block;
	color: red;
}
a#tools{
	display: block;
	margin: auto;
	width:65px;
	height:64px;
	background: url(sprite-icons.png) 0 0;
	margin-bottom: 35px;
}
a#books{
	display: block;
	margin: auto;
	width:65px;
	height:64px;
	background: url(sprite-icons.png) 0 0;
	margin-bottom: 35px;
}
a#fbplay{
	display: block;
	margin: auto;
	width:65px;
	height:64px;
	background: url(sprite-icons.png) 0 0;
	margin-bottom: 35px;
}