body{
	background-color: white;
	margin: auto;
	background-image: url('bg-tile.jpg');
	color:#DBDBAD;
}

a{
	text-decoration: none;
	color:inherit;
}

/**********************************
 * Navigation Bar
 **********************************/
ul.navMenu{
	list-style-type: none;
	background-image: url('ribbon.png');
	margin:auto;
	margin-top:15px;
	padding:0;
	width: 884px;
	height:80px;
}
li.navItem{
	display: inline;
	padding: 1em;
}
ul.navMenu a.navLink{
	text-decoration: none;
	color: red;
	font-family: 'Verdana', sans-serif;
	margin: auto;
}
img.ribbon{
	margin:auto;
}

/**********************************
 * Components
 **********************************/
h1{
	font-family: 'Maven Pro', sans-serif;
	font-size: 48px;
	color: #e9b947;	
} 

div.header{
	margin-bottom: 8em;
	text-align: center;
}

h4.hireMiles{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: #ead9ac;
	margin:auto;
	border-radius: 65px;
	background: #a3321e;
	width:100px;
	height:100px;
}

h4.hireMiles:hover{
	background: orange;
}

a.section{
	display: block;
	margin-top: 5em;
}

/**********************************
 * Section
 **********************************/
h3.sectionTitle{
	text-align: center;
	font-family: 'Maven Pro', sans-serif;
}
p{
	font-family: 'Verdana', sans-serif;
	width:45em;
	margin:auto;
	margin-bottom: 15px;
}
a.iconic{
	font-size: 50px;
	text-align: center;
	margin: auto;
	display: block;
	color: #ead9ac;
}